* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --crg-color:rgb(255, 165, 5); */
table {
    margin: 0;
    margin: 10px 0;
}

td {
    border: none;
}

tr td:nth-of-type(2) {
    padding: 0 10px;
}

.container-classroom-information {
    display: flex;
    flex-direction: column;
}
#contain {
    font-size: 16px;
}
.classroom-information-toggle {
    background-color: rgb(229, 229, 229);
}

.subdeck {
    display: flex;
}

.arrow {
    margin-right: 20px;
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
    font-size: 30px;
    color: grey;
}

.arrow.rotate {
    transform: rotate(90deg);
}

.contain-ci {
    display: none;
}
.title-student {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid rgb(193, 193, 193);
}
.title-student span.title {
    font-weight: normal;
}
.to-review {
    display: flex;
    justify-content: center;
    align-items: center;
}
.students-to-review {
    display: flex;
    background-color: var(--deck-title);
    padding: 11px 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-size) solid var(--border-color);
}
.title {
    font-size: 20px;
    margin-left: 16px;
    margin-right: 8px;
    font-weight: bold;
}

.to-review {
    display: flex;
    margin-right: 20px;
    gap: 12px;
    font-size: 16px;
}

/* Add */

.wrapper-add {
    display: none;
    /* display: flex; */
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.5); /* warna hitam transparan */
    backdrop-filter: blur(10px);
}

.search-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 3px;
    border-bottom: 1px solid grey;
    transition: border 0.2s ease; 
}
.search-bar input {
    display: flex;
    width: 98%;
    font-size: 16px;
    border: 2px solid rgb(255, 165, 5);
    padding: 5px;
    border-radius: 5px;
    color: rgb(255, 165, 5);
}
.icon-add {
    position: absolute;
    right: 4%;
}
.search-bar::placeholder {
    color: rgb(255, 165, 5); /* or any color you want */
    opacity: 1; 
}
.add {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 1px solid var(--border-color);
    position: absolute;
    background: white;
    z-index: 1;
    /* max-height: 75%; */
}

.title-add {
    background-color: #143d59;
    width: 100%;
    text-align: center;
    color: white;
    padding: 20px 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.title-add span:nth-of-type(2) {
    font-size: 12px;
}
.search-bar:focus {
    border: 1px solid var(--border-color);
    
}
.explanation {
    font-weight: bold;
    background-color: white;
}


.button {
    display: flex;
    width: 100%;
}

.button-add {
    background-color: rgb(216, 149, 33);
    width: 50%;
    cursor: pointer;
    border-top: 1px solid var(--border-color);
    font-size: 17px;
    border: none;
    padding: 20px 0;
    color: white;
    border-right: 1px solid var(--border-color);
}
.button-cancel {
    background-color: rgb(187, 187, 187);
    width: 50%;
    cursor: pointer;
    border-top: 1px solid var(--border-color);
    font-size: 17px;
    border: none;
    padding: 20px 0;
    color: white;
    border-right: 1px solid var(--border-color);
}

.explanation {
    width: 100%;
    font-size: 24px;
    max-height: 50vh;
}
.deck {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    box-sizing: border-box;
    padding-block: 8px;
    height: 75px;
}
.labelWrapper {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid grey;
    width: 100%;
}
.addDeck {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    cursor: pointer;
    background-color: #fca500;
    color: white;
    border-radius: 5px;
    filter: grayscale(100%);
}
.added {
    filter: grayscale(0%);
}
.deck .deck {
    display: none;
}
.expand {
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s ease;
    color: #fca500;
}
.deck .deck.expanded {
    display: flex;
}
.rotated {
    transform: rotate(90deg);
}
.explanationWrapper {
    width: 100%;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.title-student {
    cursor: pointer;
}