.line {
    position: absolute;
    right: 6px; 
    left: -1px;  
}
li.contain {
    position: relative;
}
.title-to-review{
    margin-top: 10px;
    padding: 10px 10px;
}

@media screen and (max-width: 768px) {
    .wrapper-menu {
       width: 100%;
    }
    .container-menu {
       width: 100%;
    }
    .nav-menu > span, .nav-menu span:nth-child(1) {
        margin-left: 0;
        font-size: 18px !important; 
    }
}