* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.calc {
    font-weight: bold;
    font-size: 20px;
    margin-left: 21px;
    z-index: 100;
}

.title-to-review {
    height: 24px;
}

/* Flashcard */
.wrapper-flashcard {
    color: white;
    position: absolute;
    overflow-y: auto;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    transition: font-size 0.2s ease;
    font-size: 100%;
}

.wrapper-flashcard,
.wrapper-flashcard * {
    font-size: inherit;
}

.wrapper-mid {
    width: 97%;
    display: flex;
    flex-direction: column;
}

/* .vocab-card {
    border-bottom: 1px solid rgb(174, 174, 174);
} */
.vocab-card,
.sentence {
    display: flex;
    flex-direction: column;
}

.hanzi {
    font-size: 2em;
}

.vocab-card .pinyin {
    font-size: 1em;
}

.word-class {
    color: gray;
}

div.sentence {
    margin-top: 0.7em;
}

span.word-class,
span.mean-EN,
span.mean-ID {
    padding-bottom: 7px;
    font-size: 0.9em;
}

span.sentence {
    padding: 6px 0;
    font-size: 1em;
}

.chinese-sentence {
    display: flex;
    justify-content: space-between;
}

span.report {
    border-radius: 20px;
    /* background: rgb(255, 165, 5); */
    border: none;
    cursor: pointer;
    color: rgb(20, 61, 89);
    font-weight: bold;
    padding: 5px;

}

.hanzi,
td,
.chinese-sentence {
    color: white;
}

table {
    margin: 0;
}

td {
    border: none;
}

td.sub {
    padding-right: 4.5px;
}

td.colon {
    width: 10px;
    text-align: center;
}

td.meaning {
    padding-left: 4.5px;
    width: 100%;
}


/* Footer */
.wrapper-show-answer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(36, 36, 36);
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
}

#criteria:hover {
    transform: scale(1.02);
    /* zoom dikit */
    transition: transform 0.3s ease-in-out;
}

.forgot {
    background-color: rgb(161, 0, 0);
}

.hard {
    background-color: orange;
}

.remember {
    background-color: green;
}

#criteria {
    display: flex;
    flex-direction: column;
    width: 15%;
    border-radius: 8px;
    align-items: center;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.show {
    color: rgb(255, 165, 5);
    font-weight: bold;
    font-size: 20px;
}

button.wrapper-show-answer {
    border: none;
    cursor: pointer;
    z-index: 99;
    /* display: none; */
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3c91e6;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

.pinyin,
.word-class,
.vocab-card table,
.sentence {
    display: none;
}

/* Report */
.wrapper-report {
    width: 100%;
    height: 90%;
    justify-content: center;
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    /* warna hitam transparan */
    backdrop-filter: blur(10px);
    z-index: 100;
}

div.report {
    display: flex;
    flex-direction: column;
    width: 35%;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid var(--border-color);
    position: absolute;
    background: white;
    z-index: 1;
    top: 2vh;
}

.title-report {
    background-color: #143d59;
    width: 100%;
    text-align: center;
    color: white;
    padding: 20px 0;
    font-size: 20px;
}

.explanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding-top: 4px;
    background-color: white;
    margin: 0 10px;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
input[type="checkbox"] {
    float: right;
}
.checkbox {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    font-size: 14px;
}
.checkbox span {
    margin-left: 10px;
}
.textarea {
    margin-top: 4px;
}
.explanation span:nth-of-type(2) {
    margin: 0;
    text-align: left;
    margin-top: 0;
}
.ex-sentence {
    font-size: 18px;
    width: 100%;
}

.explanation .ex-sentence:nth-child(1) {
    margin-top: 3px;
}
.explanation .ex-sentence:nth-child(2) {
    margin-bottom: 10px;
    color: #143d59;
}
.br {
    margin: 20px 0;
}

.button {
    display: flex;
    width: 100%;
}

#button-report {
    background-color: rgb(216, 149, 33);
    width: 50%;
    cursor: pointer;
    border-top: 1px solid var(--border-color);
    font-size: 17px;
    border: none;
    padding: 20px 0;
    color: white;
    border-right: 1px solid var(--border-color);
}
.button-cancel {
    background-color: rgb(128, 128, 128);
    width: 50%;
    cursor: pointer;
    border-top: 1px solid var(--border-color);
    font-size: 17px;
    border: none;
    padding: 20px 0;
    color: white;
    border-right: 1px solid var(--border-color);
}

textarea {
    width: 100%;
    min-height: 120px;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 12px;
    resize: vertical;
    font-size: 14px;
    font-family: Arial, sans-serif;
    outline: none;
    transition: all 0.3s ease;
    margin-bottom: 10px;
  }
  
  /* pas fokus */
  textarea:focus {
    border-color: rgb(255, 165, 5);
    box-shadow: 0 0 8px rgba(255, 165, 5, 0.4);
  }
  
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    #criteria {
        width: 25%;
    }

    .hanzi {
        font-size: 2.5em;
    }

    span.report {
        font-size: 14px;
    }
    div.report {
        width: 90%;
    }
}