:root {
    --deck-title: rgb(241, 233, 144);
    --border-size: 0.1px;
    --border-color: rgb(174, 174, 174);
    --crg-color: rgb(255, 165, 5);
}


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

* {
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

.wrapper-main {
    display: flex;
    width: 100%;
}

.deck-layout {
    width: 100%;
}

.click {
    color: blue;
    font-weight: bold;
    cursor: pointer;
}

.subdeck {
    display: none;
}

.class-title {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contain {
    padding-left: 10px;
    /* border-bottom: var(--border-size) solid var(--border-color); */
}

ul.child-deck {
    padding-left: 20px;
}

.title-to-review {
    display: flex;
    background-color: var(--deck-title);
    padding: 11px 0;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: var(--border-size) solid var(--border-color); */
    cursor: pointer;
}

.title {
    font-size: 20px;
    margin-left: 16px;
    margin-right: 8px;
    font-weight: bold;
}

.to-review {
    display: flex;
    /* min-width: 140px; */
    padding-right: 20px;
    gap: 1px;
    font-size: 16px;
}

/* .to-review span:nth-child(2) {
    text-align: center;
} */

.red {
    color: red;
    /* min-width: 50px; */
    margin-right: 9px;
    text-align: right;
}
.green {
    color: green;
    /* min-width: 50px; */
    text-align: right;
}
.blue {
    color: #8497B0;
    /* min-width: 50px; */
    text-align: right;
    /* padding-right: 20px; */
}

/* Second Line */
.title-to-review-second {
    display: flex;
    justify-content: space-between;
    padding: 11px 0;
    align-items: center;
    padding-left: 35px;
    /* border-bottom: var(--border-size) solid var(--border-color); */
    width: 100%;
    cursor: pointer;
}

.title-second {
    cursor: pointer;
}

.line {
    width: 100%;
    position: absolute;
    right: 0px;
    overflow: hidden;
    border-bottom: var(--border-size) solid var(--border-color);
}

.title-to-review-third {
    display: flex;
    justify-content: space-between;
    padding: 11px 0;
    align-items: center;
    padding-left: 54px;
    border-bottom: var(--border-size) solid var(--border-color);
    cursor: pointer;
}

.title-words {
    padding-right: 20px;
}

.words-contain {
    display: flex;
    flex-direction: column;
}

.pinyin {
    color: var(--crg-color);
}

.review-color {
    height: 29px;
    position: relative;
    bottom: 42px;
    margin: 10px;
    font-size: 60px;
}

tr.title {
    height: 20px;
}

table {
    margin-top: 20px;
}

td {
    border-bottom: 1px solid var(--border-color);
}

td.no-border {
    border: none;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/* .title-to-review-third:hover {
    background-color: red;
} */
/* .clicked {
    background-color: rgb(173, 173, 173);
} */

.account-logout {
    flex-direction: column;
    text-align: right;
    background-color: var(--crg-color);
    padding-right: 5.5%;
    position: absolute;
    width: 100%;
    display: none;
    top: 9.5%;
    z-index: 100;
}

.account,
.logout {
    padding: 8px 0;
    color: rgb(20, 61, 89);
    font-weight: bold;
}

.student-mode {
    background-color: white;
    font-size: 20px;
    padding: 4px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.student-mode:hover {
    background-color: var(--deck-title);
    /* color: white; */
}

/* Nih */
.wrapper-update {
    width: 100%;
    height: 90%;
    justify-content: center;
    position: absolute;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    /* warna hitam transparan */
    backdrop-filter: blur(10px);
}

.update {
    display: flex;
    flex-direction: column;
    width: 40%;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid var(--border-color);
    position: absolute;
    background: white;
    z-index: 1;
    top: 27%;
    top: 15vh;
}

.title-update {
    background-color: #143d59;
    width: 100%;
    text-align: center;
    color: white;
    padding: 20px 0;
    font-size: 20px;
}

.explanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding-top: 10px;
    background-color: white;
}

.explanation span:nth-of-type(2) {
    margin: 0 10px;
    text-align: center;
    margin-top: 6px;
}

.br {
    margin: 20px 0;
}

.button {
    display: flex;
    width: 100%;
}

.button-update {
    background-color: rgb(216, 149, 33);
    width: 100%;
    cursor: pointer;
    border-top: 1px solid var(--border-color);
    font-size: 17px;
    border: none;
    padding: 20px 0;
    color: white;
    border-right: 1px solid var(--border-color);
}

.plus {
    display: flex;
    align-items: center;
    width: 30px;
    z-index: 9999;
    cursor: pointer;
}

.container-deck {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 16px;
        width: 70%;
    }
/* 
    .to-review {
        margin: 0 7px;
        gap: 7.5px;
        font-size: 14px;
        width: 23%;
        min-width: 0;
        padding-right: 20px;
    } */

    .title-to-review-second {
        padding-left: 32px;
    }

    .title-to-review-third {
        padding-left: 48px;
    }

    .account-logout {
        top: 8.5%;
    }

    .update {
        width: 90%;
    }

    .green {
        color: green;
        /* min-width: 20px; */
    }

    .red {
        color: red;
        margin-right: 6.5px;
        /* min-width: 20px; */
    }

    .blue {
        color: #8497B0;
        /* min-width: 20px;        */
        /* padding-right: 20px; */
    }
}