body {
    background-color: var(--deck-title);
}

.wrapper-setting {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.wrapper-mid {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    width: 40%;
    background-color: #fff;
}

.title-setting {
    display: flex;
    justify-content: center;
    background-color: #143d59;
    color: white;
    height: 40px;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    padding: 23px 0;
}

input,
select {
    width: 60%;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px 10px;
    font-size: 16;
}

form span {
    font-weight: bold;
    margin-top: 6px;
    padding-top: 6px;
}

input[type='submit'] {
    width: 100%;
    height: 40px;
    border: none;
    border-top: 1px solid var(--border-color);
    cursor: pointer;
}

input[type='submit']:hover {
    filter: brightness(1.15);
    transition: filter 0.5s ease-in-out;
}

input[value='Cancel'] {
    background-color: var(--crg-color);
    border-right: 1px solid var(--border-color);
    color: white;
}

.action {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

select[name="character-set"] {
    font-size: 16px;
    cursor: pointer;
}

input[type="text"][name="name"],input[type='password'] {
    margin-top: 2px;
    padding: 3px 2px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"][name="name"]::placeholder,input[type='password']::placeholder {
    color: #999;
}

input[type="text"][name="name"]:focus,input[type='password']:focus {
    outline: none;
    border-color: var(--crg-color);
    box-shadow: 0 0 0 3px rgb(235, 193, 136);
    background-color: #fff;
}