@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    display: block;
}

.wrapper {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-side {
    display: flex;
    flex-direction: column;
    width: 382px;
}

span.h2 {
    font-size: 30px;
    font-weight: bold;
    cursor: default;
    margin-left: -1px;
}

span.description {
    margin-top: -7px;
    font-size: 21px;
    cursor: default;
}

.submit {
    padding: 4px 70px;
    font-size: 16px;
    color: white;
    background-color: rgb(216, 149, 33);
    border: none;
    border-radius: 7.5px;
    cursor: pointer;
    margin-top: 6%;
}

form {
    margin-top: 6%;
}

.remember{
    /* margin-top: 10px; */
    display: flex;
    justify-content: space-between;
}

.remember span {
    margin-left: 8px;
    align-items: center;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    margin: 3.7% 0;
    border: 2px solid rgb(216, 149, 33);
    font-size: 17px;
    border-radius: 8px;
    padding: 5px 5px;
    width: 100%;
}

span.alert {
    visibility: hidden;
    color: red;
    font-size: 13.5px;
    cursor: default;
    margin-top: 12px;
}

a {
    margin-top: 12px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .form-side {
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    span.h2 {
        font-size: 30px;
    }

    span.description {
        font-size: 18px;
    }

    input[type="email"],
    input[type="password"] {
        width: 100%;
    }

    .submit {
        margin-top: 4.5%;
        padding: 7px 50px;
    }
    .remember span{
        margin-left: 9px;
        align-items: center;
    }
}